@import "./vendor/normalize";
@import "./variables/global";

.root {
    font-family: "Times New Roman", Arial, sans-serif;
    background: $background-wrapper;
    min-height: 100vh;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

.header, .footer {
    padding: 30px 0;
}
