.search {
    position: relative;
    display: flex;
    column-gap: 20px;
    height: min-content;

    &__input {
        flex-grow: 1;
        border-radius: 10px;
    }

    &__submit {
        display: flex;
        column-gap: 5px;
    }
}
