@mixin input_reset {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

@mixin button_reset {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

@mixin fieldset_reset {
    padding: 0;
    border: none;
    margin: 0;
}
