.modal {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &__overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(0 0 0 / 50%);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &__container {
        color: var(primary-color);
        background: var(bg-color);
        padding: 10px;
        border-radius: 12px;
    }

    &_opened {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s;
    }
}
