.form {
    width: 500px;
    min-height: 400px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__button {
        margin-top: 20px;
    }

    &__error {
        align-self: center;
        color: red;
    }
}
