.advertisement {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $background-primary-color;
    border-radius: 10px;

    &__image {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
    }
}

.title {
    margin: 0;
    font: $font_text_l;
}

.price {
    margin: 0;
    font: $font_text_m;
    font-weight: 400;
}

.list {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button {
    margin-top: auto;
}

.button {
    @include button_reset;

    font: $font_text_m;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    padding: 10px 15px;
    transition: $primary-transition;
    height: min-content;
    color: white;
    border-radius: 6px;
    text-decoration: none;

    &:hover {
        background-color: $primary-color-hover;
    }
}

